<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.BingAds.UETSdk" version="2.1.3" targetFramework="native" />
  <package id="Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.14" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.220531.1" targetFramework="native" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-arm.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.14" targetFramework="native" />
  <package id="runtime.win10-arm64.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-arm64.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-arm64.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.14" targetFramework="native" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.14" targetFramework="native" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="native" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.14" targetFramework="native" />
</packages>